<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookCraft</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <header class="bg-info">
        <nav class="navbar container navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/users">Livraria BookCraft</a>
            <button class="navbar-brand" type="button" data-toogle="collapse" data-target="#navbarNav" 
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toogle navigation">
                <span class="navbar-toogler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item-active">
                        <a class="nav-link" href="#">Produtos <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/creat">Criar Novo Usuario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pesquisa</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="container mt-4">
        <div class="d-flex justify-content-between">
            <h1>Lista de Albuns</h1>
            <form action="/users/search" class="d-flex justify-content-around align-items-center" method="get">
                <input type="text" class="form-control" placeholder="Pesquise um usuário" name="key">                
                <button type="submit" class="ml-3 btn btn-success">Buscar</button>
            </form>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Artista</th>

                    <th>Ações</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
                <% albuns.forEach(album => { %>
                    <tr>
                        <th scope="row"><%=album.id%></th>
                        <th><%=album.titulo%></th>
                        <th><%=album.artista.nome%></th>
                        <th>
                            <a href="/albuns/<%= album.id %>" class="btn btn-primary">Ver Dados</a>
                            <a href="" class="btn btn-warning">Editar</a>
                        </th>
                        <th>    
                            <form action="#" method="post">
                                <button type="submit" class="btn btn-danger">Excluir</button>
                            </form>
                        </th>
                    </tr>
                <% }) %>                
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <% for (let i = 1; i <= totalPagina; i++){ %>

                <li class="page-item"><a class="page-link" href="?page=<%=i%>"><%=i%></a></li>
                    
                <% } %>
                
            </ul>
        </nav>
        

    </main>
    
</body>
</html>

<script 
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
    crossorigin="anonymous">
</script>

<!-- Boostrap JS -->

<script 
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" 
    crossorigin="anonymous">
</script>

<script 
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
    crossorigin="anonymous">
</script>